<link href="~/Content/Lab1/IndexStyle.css" rel="stylesheet" />

<main>
    <div class="left-sidebar">
        <div class="grid-container">
            <a href="~/Lab6/Theme" class="lab_link"><div class="grid-item">Постановка задачі</div></a>
            <a href="~/Lab6/Server" class="lab_link"><div class="grid-item">Установка серверу</div></a>
            <a href="~/Lab6/Show" class="lab_link"><div class="grid-item">Запит для перегляду</div></a>
            <a href="~/Lab6/Form" class="lab_link"><div class="grid-item">Зворотній зв'язок. Форма</div></a>
            <a href="~/Lab6/End" class="lab_link"><div class="grid-item">Висновки</div></a>

        </div>
    </div>


</main>