*{
    box-sizing: border-box;
}

body{
    background-color:rgb(240, 140, 210)
}
mark{
    background-color: rgb(42, 219, 219);
}
.header-title{
    font-family: Georgia;
    text-align: center;
    color: rgb(255, 20, 20);
}
.hr-line{
    background-color: rgb(0, 255, 0);
    height: 2px;
    margin:20px;
}
.track-title{
    text-align: center;
    line-height: 10px;
}
.track-header{
    color: hsl(239, 100%, 50%);
    font-size: 45px;
}
.track-album{
    color: hsl(61, 100%, 50%);
    font-size: 19px;
}
.links{
    text-decoration: none;
    padding: 20px;
    margin: 20px;
}
.strykalo-div{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 20%;
    box-shadow: 10px 10px 10px 000;
}
.stykalo-img{
    position: relative;
    left: 4px;
    display: block;
    margin:0 auto;
    margin-right: 20px;
    width: 99%;
    border-radius: 18%;
    /* width: 400px;
    height: 350px; */
}
.lyrics-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: hsl(231, 100%, 50%);
}
.list{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(46, 0, 252);
    position: relative;
    left:100px;
}

.box{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color:hsl(239, 100%, 50%);
    margin: 20px;
    border: 5px solid pink;
    vertical-align: middle;
}
.red{
    display: inline-block;
    background-color: red;
}
.example{
    position: relative;
    height: 350px;
}
.lyrics-text-div{
    z-index: -2;
    position: relative;
    padding: 20px;
/*     padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 20px; 
 */    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color:hsl(93, 100%, 50%);
    width: 385px;
    margin: 0 auto;
    /* text-align: left; */
}