<link href="~/Content/Lab1/IndexStyle.css" rel="stylesheet" />

<main>
    <div class="left-sidebar">
        <div class="grid-container">
            <a href="~/Lab2/List" class="lab_link"><div class="grid-item">Списки</div></a>
            <a href="~/Lab2/Identitifivator" class="lab_link"><div class="grid-item">Ідентифікатори</div></a>
            <a href="~/Lab2/Tabs" class="lab_link"><div class="grid-item">Відступи</div></a>
            <a href="~/Lab2/Flowing" class="lab_link"><div class="grid-item">Плаваючі елементи</div></a>
            <a href="~/Lab2/Selectors" class="lab_link"><div class="grid-item">Селектор тегу і класу</div></a>
            <a href="~/Lab2/OtherSelectors" class="lab_link"><div class="grid-item">Інші селектори</div></a>
            <a href="~/Lab2/Grouping" class="lab_link"><div class="grid-item">Групування селекторів</div></a>
        </div>
    </div>

    <div class="main_area">
        <div style="width: 1000px;">
            <h1>Групування селекторів</h1>
            <p>Коли ви групуєте селектори CSS, ви застосовуєте однакові стилі до кількох різних елементів без повторення стилів у вашій таблиці стилів. Замість того, щоб мати два, три або більше правил CSS, які роблять одне і те ж (наприклад, встановіть колір чогось на червоний), ви використовуєте одне правило CSS, яке виконує те саме. Секрет цієї тактики підвищення ефективності – кома.</p>
            <p>У цьому контексті кома означає “і”, тому цей селектор застосовується до всіх елементів абзацу та всіх елементів поділу. Якби кома відсутня, селектор замість цього застосовував би всі елементи абзацу, які є дочірніми елементами ділення. Це інший тип селектора, тому кома важлива. Ви можете згрупувати будь-яку форму селектора з будь-яким іншим селектором.</p>
            <div>
                <img src="~/Content/img/selector_group_css.png" alt="">
            </div>
        </div>
    </div>

</main>

