<link href="~/Content/Lab1/IndexStyle.css" rel="stylesheet" />

<main>
    <div class="left-sidebar">
        <div class="grid-container">
            <a href="~/Lab7/Theme" class="lab_link"><div class="grid-item">Постановка задачі</div></a>
            <a href="~/Lab7/Objects" class="lab_link"><div class="grid-item">Опис об'єктів'</div></a>
            <a href="~/Lab7/InfoModel" class="lab_link"><div class="grid-item">Інфологічна модель</div></a>
            <a href="~/Lab7/Realization" class="lab_link"><div class="grid-item">Реалізація БД</div></a>
            <a href="~/Lab7/DB" class="lab_link"><div class="grid-item">Операції з БД</div></a>
            <a href="~/Lab7/End" class="lab_link"><div class="grid-item">Висновки</div></a>

        </div>
    </div>


</main>