*{
    box-sizing: border-box;
}
body{
    background-color:#202833;
}
.header .header_title{
    font-family:Arial, Helvetica, sans-serif;
    color:#66FCF1;
    text-align: center;
    margin: 0 auto; 
    margin-top: 40px;
    margin-bottom: 60px;
}
.header .header_add{
    height: 50px;
    line-height: 50px;
    background-color: tomato;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align: center; 
    margin: 0 auto;
    margin-bottom: 60px;
}
.header .header_photo{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;

}
.header .header_img{
    border-radius:15%;
    display: inline-block;
    color:rgb(255, 217, 0);
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 7px;
}

.header .header_img_1{
    border-radius:15%;
    display: inline-block;
    color:rgb(255, 217, 0);
    width: 200px;
    height: 240px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 7px;
}


figcaption{
    border: 5px;
    font-size: 20px;
    position: relative;
    left: 20px;
    font-family: Lucida Console, monospace;
}
.header .head_buttons{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.lab_button{
    border: 3px ridge rgb(115, 255, 0);
    color:white;
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    font-family: Lucida Console, monospace;
    font-size: 12px;
    background-color: tomato;
    cursor: pointer;
}
.main{
    position: relative;
    display: block;
    height: 800px;
    margin-bottom: 30px;
}
.main .vertical{
    position: absolute;
    z-index: 1;;
    left: -20px;
    margin-top: 50px;
    display: inline-block;
    width: 200px;
    height: 800px;
}
.main .vertical .vertical_area{
    border-radius:20%;
    border: 2px dashed black;
    background-color:yellow;
    height: 50px;
    margin-bottom: 50px;
    padding: 5px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    vertical-align: middle;
}
.list{
    list-style-type: none;
}

.main .main_area{
    position: absolute;
    top:10px;
    right: 10px;
    display: inline-block;
    width: 75%;
    height: 770px;
    background-color:#66FCF1;
    border: 5px dotted white;
    text-align: center;
    align-items:center;
}
.bottom{
    position: relative;
    background-color:#127bb86b;
    height: 100px;
}
.bottom .bottom_img{
    width: 80px;
    float: left;
    margin: 1em 1em 0;
}

.footer_text{
    position: absolute;
    color: white;
    font-family: monospace;
    left: 120px;
    top:9px;
}
.links{
    text-decoration: none;
    color:violet;
    border: 4px solid black;
}
.links_l{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
