<link href="~/Content/Lab1/IndexStyle.css" rel="stylesheet" />

<main>
    <div class="left-sidebar">
        <div class="grid-container">
            <a href="~/Lab8/Theme" class="lab_link"><div class="grid-item">Постановка задачі</div></a>
            <a href="~/Lab8/Objects" class="lab_link"><div class="grid-item">Опис об'єктів</div></a>
            <a href="~/Lab8/InfoModel" class="lab_link"><div class="grid-item">Інфологічна модель</div></a>
            <a href="~/Lab8/DatoModel" class="lab_link"><div class="grid-item">Датологічна модель</div></a>
            <a href="~/Lab8/Realization" class="lab_link"><div class="grid-item">Реалізація БД</div></a>
            <a href="~/Lab8/DB" class="lab_link"><div class="grid-item">Операції з БД</div></a>
            <a href="~/Lab8/Authorization" class="lab_link"><div class="grid-item">Авторизація. Сесія</div></a>
            <a href="~/Lab8/Cookies" class="lab_link"><div class="grid-item">Іконки вибору мови. Кукі</div></a>
            <a href="~/Lab8/End" class="lab_link"><div class="grid-item">Висновки</div></a>

        </div>
    </div>


</main>