<link href="~/Content/Lab1/IndexStyle.css" rel="stylesheet" />

<main>
    <div class="left-sidebar">
        <div class="grid-container">
            <a href="~/Lab3/Theme" class="lab_link"><div class="grid-item">Тема Мета Розташування Звіту, Сайту</div></a>
            <a href="~/Lab3/MaketLook" class="lab_link"><div class="grid-item">Зовнішній вигляд макету</div></a>
            <a href="~/Lab3/MaketTable" class="lab_link"><div class="grid-item">Html - код макету - таблиця</div></a>
            <a href="~/Lab3/MaketFlex" class="lab_link"><div class="grid-item">Html - код макету - плаваючі блоки</div></a>
            <a href="~/Lab3/TaskHtml" class="lab_link"><div class="grid-item">HTML - код сторінки завдання</div></a>
            <a href="~/Lab3/TaskCss" class="lab_link"><div class="grid-item">CSS - код сторінки завдання</div></a>
            <a href="~/Lab3/End" class="lab_link"><div class="grid-item">Висновки</div></a>
        </div>
    </div>

    <div style="display:flex;">
        <img src="~/Content/img/MaketFlexImg.png" alt="Alternate Text" />
    </div>

</main>