@font-face {
    font-family: 'NameTitle';
    src: url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

main {
    display: flex;
    gap: 50px;
}

.grid-container {
    width: 150px;
    display: grid;
    grid-gap: 20px 30px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 10px;
}

.grid-item {
    background-color: #80b5e2;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: #000000;
    font-family: 'NameTitle';
    font-weight: 700;
    font-size: 15px;
}

.left-sidebar {
    padding-right: 10px;
    margin-top: -75px;

    left: 0;
    background-color: #1a1818;
    top: 105px;
    text-align: center;
    font-family: NameTitle;
    font-size: 20px;
    color: white;
}

.lab_link {
    text-decoration-line: none;
    text-decoration: none;
    color: inherit;
}

.lab_link:hover {
    color: inherit;
    text-decoration: none;
}
